{% extends 'base.html' %}
{% block title %}Clinics{% endblock %}
{% block content %}
    <h1>{{ Header }}</h1>
    <ul>
        {% if clinics %}
            {% for clinic in clinics %}
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        {{ clinic.name }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Doctor In Charge: {{ clinic.doctor_in_charge }}</h5>
                        <a href="#" class="btn btn-danger">Book Appointment</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No clinics found</p>
        {% endif %}
    </ul>
{% endblock %}