{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h1>Our Services</h1>
                <p> The Best Quality Service You Can Get.</p>
                <p> Quality, Affordable HealthCare for All. </p>
            </div>
        </div>

        <div class="row">
            {% if services %}
                {% for service in services %}
                    <div class="col">
                        <div class="card" style="width: 18rem; margin-bottom: 20px;">
                            <div class="card-body">
                                <h5 class="card-title">{{ service.name }}</h5>
                                <p class="card-text"> {{ service.description | truncatewords:50 }} </p>
                                <a href="{% url 'search_clinics_with_service' service.name %}" class="btn btn-primary">Find Service</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <div class="col-md-12">
                    <h3>No Services Available</h3>
                </div>
            {% endif %}


        </div>

    </div>
{% endblock %}